<p *ngIf="cartItems.length === 0">Cart is empty</p>

<div *ngFor="let item of cartItems">
  <mat-card class="cart-item">
    <div class="row">
      <span>{{ item.name }}</span>
      <span>₹{{ item.price }}</span>

      <button
        mat-icon-button
        color="warn"
        (click)="remove(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card>
</div>

<mat-card *ngIf="cartItems.length > 0" class="total-card">
  <h3>Total: ₹{{ total }}</h3>

  
  
</mat-card>
