<h2>Restaurant Menu</h2>

<div class="menu-grid">
  <mat-card class="menu-card" *ngFor="let item of menuItems">
    <img mat-card-image [src]="item.imageUrl" alt="{{ item.name }}" />

    <mat-card-content>
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
      <h4>₹{{ item.price }}</h4>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addToCart(item)">
        Add to Cart
      </button>

    </mat-card-actions>
  </mat-card>
</div>
